@{
	var user = await UserManager.GetUserAsync(User);
}

@if(user != null)
{
	<div class="profile-info">
		<img src="~/images/uploads/profiles/@user.ProfileImage" alt="@user.FirstName user.LastName" />

		<form enctype="multipart/form-data" method="post" asp-action="UploadProfileImage" asp-controller="Account">
			<input id="fileUploader" type="file" name="file" hidden>
			<label for="fileUploader" class="btn btn-circle btn-circle-sm"><i class="fa-regular fa-refresh"></i></label>
		</form>
		<h5>@($"{user.FirstName} {user.LastName}")</h5>
		<p>@user.Email</p>
	</div>
	<nav>
		<a class="btn-theme-s" asp-controller="Account" asp-action="Details">Account Details</a>
		<a class="btn-gray" asp-controller="Auth" asp-action="SingOut">Sing out</a>
	</nav>
}
