<section id="apps">
    <div class="container">
        <img src="images/app.svg" alt="">
        <div class="download">
            <h2>Download Our App for Any Devices:</h2>
            <div class="app-store">
                <div class="reviews-apple">
                    <p>App Store</p>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="text-apple">
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <div class="img"><img src="images/button/appstore.svg" alt=""></div>
            </div>

            <div class="google-play">
                <div class="reviews-google">
                    <p>Google Play</p>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="text-google">
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <div class="img"><img src="images/button/googleplay.svg" alt=""></div>

            </div>
        </div>
    </div>

</section>